@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-verde: #4ae28e;
    --main-azul: #597bfe;
}

@font-face {
    font-family: fff;
    src: url(fonte/Roboto-Black.ttf);
}

body {
    font-family: sans-serif;
    transition: 0.5s ease;
    overflow-x: hidden;
}

.dark {
    background-color: #161616;
    color: aliceblue;
}

/*-----------------HEADER-----------------*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    box-shadow: -1px -8px 40px #0000006e;
    height: 100px;
    background-color: #ffffffc6;

    backdrop-filter: blur(10px);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;

    /*-----------------MENU-HAMBURGER-----------------*/
        #menu-btn {
            display: none;
        }

    /*-----------------/MENU-HAMBURGER-----------------*/

    /*-----------------LOGOS-----------------*/
        img {
            width: 120px;
            transition: 0.5s ease;

            &:hover {
                transform: scale(90%);
                cursor: pointer;
            }
        }

        .logoBgBlack {
            display: none;
        }

        .dark .logoBgWhite {
            display: none;
        }

        .dark .logoBgBlack {
            display: grid;
        }

    /*-----------------/LOGOS-----------------*/

    nav {
       
        margin-right: 3%;
        font-size: 23px;
        display: flex;
    }

    #menu {
        display: block;
    }

    .menu-list {
     
        display: flex;
        gap: 70px;

        a {
            text-decoration: none;
            color: #000;
            margin-right: 20px;
            font-weight: bold;

            &:hover {
                color: #597bfe;
            }
        }

        li {
            list-style: none;
        }
    }

    
    /*-----------------DARK-MODE-BTN-----------------*/
        .dark_btn {
            font-size: 30px;
            margin-left: 20px;
            display: flex;

            input {
                display: none;
            }

            .fa-cloud-sun {
                display: none;
            }

            .fa-moon {
                transition: 0.5s ease;

                &:hover {
                    color: var(--main-azul);
                    cursor: pointer;
                }

                &:active {
                    transform: rotateZ(360deg);
                }
            }

        }
    /*-----------------/DARK-MODE-BTN-----------------*/
}
.dark header {
    border-bottom: solid 3px var(--main-verde);
    background-color: #000000bc;

    .logoBgWhite {
        display: none;
    }

    .logoBgBlack {
        display: grid;
    }

    .menu-list a {
        color: aliceblue;

        &:hover {
            color: #4ae28e;
        }
    }

    .fa-cloud-sun {
        display: block;

        &:hover {
            color: var(--main-verde);
            cursor: pointer;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    .fa-moon {
        display: none;
    }
}

/*HEADER para disdpositivos móveis*/
@media all and (max-width: 880px) {
    header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: -1px -8px 40px #0000006e;

        /*-----------------LOGOS-----------------*/
            img{
                width: 120px;

            }

            .logos{
                order: 1;
            }

            nav{
                text-align: center;
                font-size: 23px;
            }
        /*-----------------LOGOS-----------------*/

        /*-----------------menu-hamburger-----------------*/
            #menu-btn {
                display: flex;
                /* margin-bottom: 20px; */
                border: none;
                font-size: 25px;
                background-color: #f0f8ff00;

                &:hover {
                    color: #597bfe;
                    cursor: pointer;
                }
            }
        /*-----------------menu-hamburger-----------------*/

        /*-----------------DARK-MODE-BTN-----------------*/
            .dark_btn {
                font-size: 30px;
                margin-left: 0px;
                order: 2;
            }
        /*-----------------/DARK-MODE-BTN-----------------*/

        #menu {
            position: absolute;
            background-color: #ffffff;
            top: 100px;
            width: 100%;
            height: 100vh;
            right: 0;
            overflow-y: auto;
            display: none;
        }

        .menu-list {
            text-align: left;
            display: block;
            padding: 1rem;
            width: 100%;

            li {
                padding: 20px;
                border-bottom: solid #bebebe 1px;
        
                &:hover {
                    background-color: #f0f0f0e6;
                }
            }
        }
    }
    .dark header{
        #menu-btn {
            color: #fff;

            &:hover{
                color: #597bfe;
            }
        }
        #menu {
            background-color: #4ae28e;
        }
        .menu-list li {
            color: black;
    
            &:hover {
                background-color: #3ab371;
            }
        }
    }   
}
/*-----------------/HEADER-----------------*/

h1 {
    text-align: center;
    color: #597bfe;
    margin-top: 20px;
}

.mainn p {
       
   width: 700px;
    margin-top: 2%;
    text-align: center;
    margin-left: 25%;
    font-size: 20px; 

}

.dark .card{
    background-color: #536ac4;
 

}

.cardes {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;

    .card {
        background-color: #597bfe;
        height: 300px;
        width: 300px;
        padding: 1rem;
        border-radius: 5%;
        transition: 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        align-items: center;
        gap: 10px;
        
        &:hover {
            transform: scale(90%);
            cursor: pointer;
        }
        i{
            font-size: 45px;
            color: #4ae28e;
        }
        p{
            color: #ffffff;
            width: 270px;
        }
    
    
    
    }


}



.membros {
    display: flex;
    gap: 7%;
    margin-left: 20%;
    margin-top: 7%;

    .denner{
        background-color: #000;
        width: 150px;
        height: 200px;
        border-radius: 10px;

        background-image: url(fotos/denner.jfif);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center;

        transition: 1s ease;

        &:hover{
            background-size: 200%;
        }
    }

    .gi{
        background-color: #000;
        width: 150px;
        height: 200px;
        border-radius: 10px;

        background-image: url(fotos/giovanna4.jfif);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center;

        transition: 1s ease;

        &:hover{
            background-size: 200%;
        }
    }

    .kim_img{
        background-color: #000;
        width: 150px;
        height: 200px;
        border-radius: 10px;

        background-image: url(fotos/kim.jfif);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center;

        transition: 1s ease;

        &:hover{
            background-size: 200%;
        }
    }

    .laiz_img{
        background-color: #000;
        width: 150px;
        height: 200px;
        border-radius: 10px;

        background-image: url(fotos/laiz.jfif);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center;

        transition: 1s ease;

        &:hover{
            background-size: 200%;
        }
    }

    & p {
        color: #597bfe;
        font-size: 20px;
        font-family: fff;
        text-align: center;
    }

}

.colaboradores h3 {
    text-align: center;
    color: #597bfe;
    margin-top: 5%;
    font-size: 35px;
}

.gio {
    margin-top: 10%;
}

.laiz {
    margin-top: 10%;
}

@media all and (max-width:800px) {

    .cardes {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 300px;
        margin-left: 23%;

        & p {
            width: 270px;
            font-size: 19px;
            margin-left: 10%;
            color: #ffffff;


        }

        & img {
            height: 40px;
            margin-left: 40%;
        }

        & h2 {
            font-size: 20px;
            margin-left: 35%;
            color: #000;

        }

        & .h2 {
            margin-left: 39%;
        }

        
    }
    .membros{
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        & P{
           margin-right: 40%;
        }
    }
    .mainn p {
        font-size: 20px;
        margin-top: 2%;
        margin-left: 2%;
        text-align: center;
        width: 500px;

    }
}

/*---------------FOOTER---------------*/
footer {
    height: 300px;
    background-color: #6fff74;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;

    & hr {
        border: none;
        background-color: #000;
        width: 90%;
        height: 2px;
    }

    & .tudo {
        margin: 2rem 2rem;
        display: flex;
        justify-content: space-around;
        align-items: first baseline;
        gap: 8rem;
        width: 90%;

        & a {
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: underline;
            }
        }

        & h3 {
            margin-bottom: 0.4rem;
        }

        & .voltar {
            display: grid;
            gap: 1rem;
        }

        & .referencias {
            display: grid;
            gap: 1rem;
        }

        & .links_rapidos {
            display: grid;
            gap: 1rem;
        }
    }

    & p {
        margin-bottom: 3rem;
    }
}

.dark footer {
    background-color: #3ab371;
}

/*footer para dispositivos móveis*/
@media all and (max-width: 880px) {
    footer {
        font-size: 25px;

        & .tudo {
            margin: 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
            width: 90%;
            text-align: center;

            & a {
                text-decoration: none;
                color: #000;

                &:hover {
                    text-decoration: underline;
                }
            }

            & h3 {
                margin-bottom: 0.4rem;
            }

            & .voltar {
                display: grid;
                gap: 0.5rem;
            }

            & .referencias {
                display: grid;
                gap: 0.1rem;
            }

            & .links_rapidos {
                display: grid;
                gap: 0.1rem;
            }
        }

        & p {
            margin-bottom: 3rem;
        }
    }
}

/*---------------/FOOTER---------------*/
